* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://m.media-amazon.com/images/I/A1DGel5VHBL._AC_SL1500_.jpg');
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
}

.container-principal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.player_person {
    width: 100%;
    height: 50%;
    display: flex;
}

.player_computer {
    width: 100%;
    height: 50%;
    display: flex;
}

.container-principal .player_person section {
    height: 100%;
    display: flex;
}

.container-principal .player_computer section {
    height: 100%;
    display: flex;
}

.computer-cards, .person-cards {
    width: 70%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}

.computer-cards h2, .person-cards h2 {
    height: 15%;
    color: #fff;
}

.computer-cards .cards_computer-player, .person-cards .cards_person-player {
    height: 55%;
    box-sizing: border-box;
}

.computer-cards .computer-info, .person-cards .person-info {
    height: 30%;
}

.cards_person-player, .cards_computer-player {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.computer-buttons, .person-buttons {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.person-buttons .buttons-game {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.person-buttons .buttons-game button {
    margin: 10px;
    width: 140px;
    height: 60px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    background-color: rgb(26, 26, 26);
    color: #fff;
    transition: all 0.3s;
}

.person-buttons .buttons-game button:hover {
    opacity: 0.9;
}

.computer-buttons .buttons, .person-buttons .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.computer-buttons .buttons button, .person-buttons .buttons button {
    margin: 5px;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.3s;
}

.computer-buttons .buttons .addCardComputerOrSecondPlayerHover:hover, .person-buttons .buttons .addCardHover:hover {
    background-color: rgb(211, 28, 28);
    color: #fff;
}

.computer-buttons .buttons .endGameForComputerOrSecondPlayerHover:hover, .person-buttons .buttons .endGameHover:hover {
    background-color: rgb(34, 56, 128);
    color: #fff;
}

.computer-buttons .buttons .addCardComputerOrSecondPlayerNoHover, .person-buttons .buttons .addCardNoHover {
    cursor: no-drop;
}

.computer-buttons .buttons .endGameForComputerOrSecondPlayerNoHover, .person-buttons .buttons .endGameNoHover {
    cursor: no-drop;
}


.cards {
    width: 100%;
    height: 100%;
}

.person-info, .computer-info {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

h2 {
    margin: 0;
}

@media (max-width: 768px) {
    .computer-buttons .buttons button, .person-buttons .buttons button {
        margin: 4px;
        width: 110px;
        height: 40px;
        border-radius: 15px;
        border: none;
        font-weight: bold;
        font-size: 14px;
        transition: all 0.3s;
    }
}

@media (max-width: 550px) {
    .computer-buttons .buttons, .person-buttons .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .computer-buttons .buttons button, .person-buttons .buttons button {
        margin: 2px;
        width: 90px;
        height: 30px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        font-size: 0.75em;
        transition: all 0.3s;
    }
}